.header {
    padding: 10px 20px;
    display: flex;
    justify-content: center;

    .container {
        max-width: 1400px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.homelogo {
    display: flex;
    gap: 33px;
}

.list {
    display: flex;
    gap: 33px;
}

.item {
    list-style: none;
}

.link {
    color: #616364;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s all ease;

    &:hover {
        color: #000000;
        text-decoration: underline;
        text-underline-offset: 7px;
    }
}

.menu {
    cursor: pointer;
}